*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
}

a {
  text-decoration: none;
}
